name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install cargo-llvm-cov
      uses: taiki-e/install-action@cargo-llvm-cov
    - uses: r7kamura/rust-problem-matchers@v1
    - name: Build, run tests and collect coverage
      run: cargo llvm-cov --lcov --output-path ${{github.workspace}}/lcov.info
    - name: Display coverage in pull request
      uses: romeovs/lcov-reporter-action@v0.3.1
      if: ${{ github.event_name == 'pull_request' }}
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        lcov-file: ${{github.workspace}}/lcov.info

  check-formatting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check formatting
      run: cargo fmt --check

  check-static-code-analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: r7kamura/rust-problem-matchers@v1
    - name: Static code analysis
      run: cargo clippy -- -D warnings
